header {
    background-image: url("bg-image-guitar.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 20px;
}

section {
    background-color: #e4e3e3
}

section:nth-of-type(2) {
    background-color: white;
}

.highligh {
    color: rgb(132,27,31);
    font-size: 25px;
}

.accordion-collapse {
    background-color: rgb(228, 227, 227);
}

b {
    color: rgb(132,27,31);
    font-size: 20px;
}

.resources {
    background-image: url("bg-image-2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}