header {
    background-image: url("bg-image-guitar.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.highligh {
    color: rgb(132,27,31);
    font-size: 25px;
}